.wp-block-minimalist-wave-canvas {
    border: 1px dashed rgba(0, 0, 0, 0.1);

    // Make sure it has some height even if empty in editor
    &.is-selected {
        outline: 1px solid var(--wp-admin-theme-color);
    }
}